{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
<div class="container-fluid">
	<h1 class="text-danger">Log-in:</h1>
	<hr/>
</div>
{% bootstrap_form_errors form layout="inline" %}
<div class="jumbotron">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-1">
    			
    		</div>	
			<div class="col-xs-3">
				<div class="well" id="well-left">
					<form action="{% url 'login' %}" method="post" class="form">
					{% bootstrap_form form layout='inline' %}
					{% csrf_token %}
					<a href="{% url "password_reset" %}">Forgotten your password?</a>
					{% buttons %}
					<button type="submit" class="btn btn-primary">
      					Login
    				</button>
    				{% endbuttons %}
    			</div>
    		</div>
    		<div class="col-xs-3 border-right">
    			
    		</div>		
    		<div class="col-xs-4 block-center">
    			</br>
    			</br>
    			<div class="well" id="well-right">
    				<div class="span4 offset4 text-center">
						<a href="{% url "social:begin" "facebook" %}" class="btn btn-primary btn-center fa fa-facebook fa-1x text-center"> Login with Facebook</a>
						<br/><br/>
						<a href="{% url "social:begin" backend="google-oauth2" %}" class="btn btn-danger fa fa-google fa-1x text-center"> Login with Google</a>
					</div>
    			</div>
					</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}