{% extends "base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}Password Reset{% endblock %}
{% block content %}
<div class="container">
	<h1 class="text-danger">Forgot Your Password?</h1>
	<hr/>
	<div class="jumbotron">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-2">
					
				</div>
				<div class="col-xs-4">
					<div class="well">
						<p class="text-danger fa fa-info-circle"> Please note that you must use the Email submitted during registration.</p>
						<form action="." method="post">
							{% bootstrap_form form layout="inline" %}
							{% csrf_token %}
							<input type="submit" value="Send Email" class="btn btn-primary">
						</form>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
{% endblock %}