{% extends "base.html" %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}Change you password{% endblock %}
{% block content %}
<div class="container">
	<h1 class="text-danger">Change Your Password</h1>
	<hr/>
	<div class="jumbotron">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-2">
					
				</div>
				<div class="col-xs-3">
					<div class="well">
						<form action="." method="post">
							{% bootstrap_form form layout="inline" %}
							{% csrf_token %}
							<input type="submit" value="Change" class="btn btn-primary">
						</form>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
{% endblock %}